yum:
  commands:
    01-wget:
      command: "wget -O /tmp/ffmpeg.tar.gz https://johnvansickle.com/ffmpeg/releases/ffmpeg-release-64bit-static.tar.xz"
    02-mkdir:
      command: "if [ ! -d /opt/ffmpeg ] ; then mkdir -p /opt/ffmpeg; fi"
    03-tar:
      command: "tar -xzf ffmpeg.tar.gz -C /opt/ffmpeg"
      cwd: /tmp
    04-ln:
      command: "if [[ ! -f /usr/bin/ffmpeg ]] ; then ln -s /opt/ffmpeg/ffmpeg /usr/bin/ffmpeg; fi"
    05-ln:
      command: "if [[ ! -f /usr/bin/ffprobe ]] ; then ln -s /opt/ffmpeg/ffprobe /usr/bin/ffprobe; fi"
