files:
  "/etc/nginx/conf.d/proxy.conf" :
    mode: "000755"
    owner: root
    group: root
    content: |
      client_max_body_size 250M;
      client_header_timeout   600;
      client_body_timeout     600;
      send_timeout            600;
      proxy_connect_timeout   600;
      proxy_read_timeout      600;
      proxy_send_timeout      600;
container_commands:
  01_update_nginx:
    command: "sudo sed -i 's/keepalive_timeout  65;/keepalive_timeout  660;/g' /tmp/deployment/config/#etc#nginx#nginx.conf"
  02_echo:
    command: "echo FUCK THIS"
