<div style="text-align: center;">
  Youtube MP3 Converter
</div>
<div style="margin-top: 1rem">
<mat-card>
  <div style="text-align: center">
    <form (submit)="onConvertVideo(downloadForm)" #downloadForm="ngForm">
      <mat-form-field style="width:40%">
        <input
          matInput
          type="text"
          placeholder="Video URL"
          [ngModel]="videoUrl"
          name="url"
          required
          minlength="3"
          #url="ngModel"
        />
        <mat-error *ngIf="url.invalid">Please Enter Url.</mat-error>
      </mat-form-field>
      <button
        style="margin-left: 30px;"
        mat-raised-button
        color="accent"
        type="submit"
        [disabled]="!downloadForm.valid">
        Convert Video
      </button>
    </form>
  </div>
  </mat-card>
  <hr />
  <div *ngIf="downloadLink">
      <a href="javascript:void(0);" (click)="onDownloadMp3()">DownLoad Mp3</a>
  </div>
</div>
