<mat-toolbar color="primary">
  <span><a>Youtube Mp3 Converter</a>
  </span>
</mat-toolbar>
<mat-spinner *ngIf='isLoading'></mat-spinner>
<div style="margin-top: 1rem">
<mat-card>

    <form (submit)="onConvertVideo(downloadForm)" #downloadForm="ngForm">
      <mat-form-field style="width:40%">
        <input
          matInput
          type="text"
          placeholder="Video URL"
          [ngModel]="videoUrl"
          name="url"
          required
          minlength="3"
          #url="ngModel"
        />
        <mat-error *ngIf="url.invalid">Please Enter Url.</mat-error>
      </mat-form-field>
      <button
        style="margin-left: 30px;"
        mat-raised-button
        color="accent"
        type="submit"
        [disabled]="!downloadForm.valid">
        Convert Video
      </button>
    </form>
  </mat-card>
  <hr />
  <div *ngIf="downloadLink" style="align-content:center">
      <button mat-raised-button color="primary" (click)="onDownloadMp3()">DownLoad Mp3</button>
  </div>
</div>
