mat-spinner {
  margin: auto;
}
mat-form-field,
textarea {
  width:100%;
}
.button{
  margin: auto;
  text-align: center;
}
.margin {
  margin-right:10px;
  margin-left:10px;
}
form {
  max-width: 1200px;
  margin: auto;
}
