<mat-toolbar color="primary">
  <span><a>Youtube Mp3 Converter</a>
  </span>
</mat-toolbar>

<div style="margin-top: 1rem">
<mat-spinner *ngIf='isLoading'></mat-spinner>
<mat-card>

    <!-- <form (submit)="onConvertVideo(downloadForm)" #downloadForm="ngForm">
      <mat-form-field style="width:40%">
        <input
          matInput
          type="text"
          placeholder="Video URL"
          [ngModel]="videoUrl"
          name="url"
          required
          minlength="3"
          #url="ngModel"
        />
        <mat-error *ngIf="url.invalid">Please Enter Url.</mat-error>
      </mat-form-field>
      <button
        style="margin-left: 30px;"
        mat-raised-button
        color="accent"
        type="submit"
        [disabled]="!downloadForm.valid">
        Convert Video
      </button>
    </form> -->
    <form [formGroup]="form" *ngIf="!isLoading">
      <mat-form-field>
        <input
          matInput
          type="text"
          placeholder="Video Url"
          formControlName="url"
        />
        <mat-error *ngIf="form.get('url').invalid">Please Enter Valid Youtube Url.</mat-error>
      </mat-form-field>
      <div class="button" *ngIf="!isDownloadReady else download">
        <button mat-raised-button color="accent" [disabled]="!form.valid" type="button" (click)="onConvertVideo(form.value)">Convert Video</button>
      </div>
      <ng-template #download>
        <div class="button">
          <button mat-raised-button color="accent" (click)="onDownloadMp3()">Download Video</button>
        </div>
      </ng-template>

    </form>
  </mat-card>
</div>
